<!-- breadcrumb -->
<div class="bread-crumb">
    <div>
        <a href="/skills">skills</a><a href="/achievements">achievements</a><a href="/interests">interests</a><a href="/curriculars">curriculars</a>
    </div>
    <div>
        <a href="/">home</a>
    </div>
</div>