<div class="footer">
    <div class="left-footer">
        <h3>Contact Us</h3>
        
        <p>Indian Institute of Technology Guwahati</p>
        <p>Amingaon, Kamrup</p>
        <p>781039</p>
        <p>Assam, India</p>
    </div>
    <div class="right-footer">
        <div>
            <h3>Reach Us</h3>
        </div>
        <div>
            
            <a href="https://www.linkedin.com/in/skr2065/" class="socials" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/skrajup" class="socials" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://stackoverflow.com/users/16058995/saurabh-raj" class="socials" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
            <a href="https://twitter.com/SKRaj92325677" class="socials" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/sk.raj2023" class="socials" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.quora.com/profile/Saurabh-Rajput-314" class="socials" target="_blank"><i class="fa-brands fa-quora"></i></a>
        </div>
        <div class="copyright">&#169; copyright, 2022</div>
    </div>
</div>
</div>

</body>
</html>