<%- include('partials/header.ejs')%>

<!-- link page specific stylesheet -->
<link rel="stylesheet" href="">
<style>
    /* inline css */
    h2 {
        margin: 5px 0;
    }
    ul {
        margin: 5px 0;
    }
    h4 {
        margin: 5px 0;
    }
</style>
</head>
<body>
    <div class="wrapper-container">
        <!-- write your code here -->
        <%-include('partials/bread-crumb.ejs')%>
    
        <h2>Education</h2>
        <ul>
            <li>
                <h4><img src="/images/education.png" alt="education image" width="20px"> IIT Guwahati, Assam India</h4>
                <ul>
                    <li><b>B.Tech. Major</b> in Electronics and Communication Engineering</li>
                    <li><b>Grade: </b>7.86/10</li>
                    <li><b>Year: </b>2019 - present</li>
                </ul>
            </li>
            <li>
                <h4><img src="/images/education.png" alt="education image" width="20px"> Jawahar Navodaya Vidyalaya Prayagraj, UP India</h4>
                <ul>
                    <li><b>Senior Secondary</b> in PCM</li>
                    <li><b>Percentage: </b>94.6%</li>
                    <li><b>Year: </b>2017-2018</li>
                </ul>
            </li>
            <li>
                <h4><img src="/images/education.png" alt="education image" width="20px"> Jawahar Navodaya Vidyalaya Auraiya, UP India</h4>
                <ul>
                    <li><b>Secondary</b> in PCM</li>
                    <li><b>Grade: </b>9.6/10</li>
                    <li><b>Year: </b>2015-2016</li>
                </ul>
            </li>
        </ul>
        
<%- include('partials/footer.ejs') %>