<%- include('partials/header.ejs')%>
    <link rel="stylesheet" href="css/home.css">
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper-container">
        <div class="header">
            <div class="left-header">
                <h1>Saurabh Kumar</h1>
                <p>A diligent and passionate undergrad at iit guwahati, who is keen to contribute with his skills and abilities. Interested in Programming, Gaming, Singing and learning new things.</p>
            </div>
            <div class="right-header">
                <img src="images/me.png" alt="profile pic" width="150px" height="150px">
            </div>
        </div>
        <div><h2 class="quote">No matter how hard the past, You can always begin again…..Budhha</h2></div>
        <div class="content">
            <div> <button class="btn"> <a href="education">Education</a> </button> </div>
            <div> <button class="btn"><a href="skills">Skills</a></button> </div>
            <div> <button class="btn"><a href="achievements">Achievements</a></button> </div>
            <div> <button class="btn"><a href="interests">Interests</a></button> </div>
            <div> <button class="btn"><a href="curriculars">Curriculars</a></button> </div>
        </div>


<%- include('partials/footer.ejs') %>