<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>u guydgudy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            /* font-family: 'Sacramento', cursive; */
            font-family: 'Josefin Slab', serif;
        }
        .wrapper-container {
            width: 700px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 0 0 20px rgb(197, 197, 197);
        }
        .wrapper-container:hover {
            padding: 30px;
            box-shadow: 0 0 20px rgb(219, 219, 219);
            transition: ease-in-out 400ms;
        }
        .header {
            display: flex;
            text-align: center;
        } 
        .left-header {
            flex-basis: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-around;
        }
        .left-header h1 {
            margin: 5px 0;
        }
        .left-header p {
            margin: 5px 0;
            font-size: 25px;
        }
        .right-header {
            flex-basis: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .quote {
            text-align: center;
        }
        /* content */
        .content {
            height: 150px;
            margin-top: -50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .btn {
            width: 120px;
            border: 0.1px solid cyan;
            border-radius: 20px;
            padding: 8px 10px;
            margin: 0 5px;
            background: #fff;
            font-size: 15px;
            color: rgb(0, 53, 53);
            box-shadow: inset 0 0 10px cyan;
            /* font-family: 'Sacramento', cursive; */
            font-family: 'Josefin Slab', serif;
            cursor: pointer;
        }
        .btn:hover {
            width: 125px;
            height: 40px;
            box-shadow: 0 0 10px cyan;
            transition: ease-in-out 100ms;
        }
        /* footer */
        .footer {
            display: flex;
            align-items: center;
        }
        .left-footer {
            flex-basis: 250px;
            border-right: 0.1px solid #ccc;
        }
        .left-footer h3 {
            margin: 5px 0;
        }
        .left-footer p {
            margin: 0;
        }
        .right-footer {
            flex-basis: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .right-footer h3 {
            margin: 5px 0;
        }
        .socials {
            display: inline-block;
            width: 20px;
            color: rgb(0, 199, 189);
        }
        .socials:hover {
            color: rgb(93, 255, 244);
            font-size: 40px;
            width: 40px;
            transition: ease-in-out 100ms;
        }
        .copyright {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="wrapper-container">
        <div class="header">
            <div class="left-header">
                <h1>Saurabh Kumar</h1>
                <p>A diligent and passionate undergrad at iit guwahati, who is keen to contribute with his skills and abilities. Interested in Programming, Gaming, Singing and learning new things.</p>
            </div>
            <div class="right-header">
                <img src="images/me.png" alt="profile pic" width="150px" height="150px">
            </div>
        </div>
        <div><h2 class="quote">No matter how hard the past, You can always begin again…..Budhha</h2></div>
        <div class="content">
            <div> <button class="btn">Education</button> </div>
            <div> <button class="btn">Skills</button> </div>
            <div> <button class="btn">Achievements</button> </div>
            <div> <button class="btn">Interests</button> </div>
            <div> <button class="btn">Curriculars</button> </div>
        </div>
        <div class="footer">
            <div class="left-footer">
                <h3>Contact Us</h3>
                
                <p>Indian Institute of Technology Guwahati</p>
                <p>Amingaon, Kamrup</p>
                <p>781039</p>
                <p>Assam, India</p>
            </div>
            <div class="right-footer">
                <div>
                    <h3>Reach Us</h3>
                </div>
                <div>
                    
                    <a href="https://www.linkedin.com/in/skr2065/" class="socials" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/skrajup" class="socials" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://stackoverflow.com/users/16058995/saurabh-raj" class="socials" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
                    <a href="https://twitter.com/SKRaj92325677" class="socials" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/sk.raj2023" class="socials" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.quora.com/profile/Saurabh-Rajput-314" class="socials" target="_blank"><i class="fa-brands fa-quora"></i></a>
                </div>
                <div class="copyright">&#169; copyright, 2022</div>
            </div>
        </div>
    </div>

</body>
</html>