<%- include('partials/header.ejs')%>

<!-- link page specific stylesheet -->
<link rel="stylesheet" href="">
<style>
    /* inline css */
    h2 {
        margin: 5px 0;
    }
    ul {
        margin: 5px 0;
    }
    h4 {
        margin: 5px 0;
    }
    li {
        margin: 10px;
    }
    .item-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .progress-bar {
        height: 20px;
        border-radius: 0;
    }
</style>
</head>
<body>
    <div class="wrapper-container">
        <!-- write your code here -->
        <h2>My Skills</h2>
        <ul>
            <li>
                <h4>Programming</h4>
                <ul>
                    <li>
                        <div class="item-flex">
                            <div><b>C</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>C++</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>Javascript</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Web Technologies</h4>
                <ul>
                    <li>
                        <div class="item-flex">
                            <div><b>HTML</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>CSS</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Database Management</h4>
                <ul>
                    <li>
                        <div class="item-flex">
                            <div><b>MySQL</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>MongoDB</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Miscellaneous</h4>
                <ul>
                    <li>
                        <div class="item-flex">
                            <div><b>Node.js</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>Express.js</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>Socket.io</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>Git</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Operating Systems</h4>
                <ul>
                    <li>
                        <div class="item-flex">
                            <div><b>Windows</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-flex">
                            <div><b>Ubuntu</b></div>
                            <div>
                                <!-- <progress class="progress-bar" value="80" max="100"> 80% </progress> -->
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div style="margin-top: 20px;"></div>

<%- include('partials/footer.ejs') %>